<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'first_slide.jpg' %>)">
  <div class="container">
    <h1>Découvrez <strong>VéLoc</strong> : Votre liberté à deux roues !</h1>
    <p>Explorez la ville et la nature à votre rythme en louant un vélo de qualité chez des particuliers de votre quartier. Louez le vôtre dès aujourd'hui !</p>
    <%= link_to bikes_path(@bike) do %>
      <button class="btn btn-flat">Looking for a bike</button>
    <% end %>
  </div>
</div>
