<div class=container>
  <h1>Proposer un vélo à la location</h1>

  <%= render "form", bike: @bike %>

  <br>

  <div>
      <%= link_to "Voir tous les vélos", bikes_path, class: "btn btn-flat" %>
  </div>
</div>
